/* MAIN CLASS IDs */

body {
    background: url('../assets/images/bg.jpg' ) no-repeat fixed center top;
    font-family: Geneva, Arial, sans-serif;
    box-shadow: 0 0 8px 8px white inset; /* Adds a border that makes the background fade out,
                                            making it scale finely with 4k screens */
    margin: auto;
    min-width: 720px;
    max-width: 1920px;
    padding: 15px 0 15px 0;
    height: 100%;
}

#main {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #DEDEDE;
    border-bottom: 5px solid black;
    margin: auto auto 50px auto;
    width: 70%; /* This, along with the rule above it and below it, allows the content to scale no matter how big or small
                   the resolution, and provides a reasonable size for all devices. */
    min-width: 630px;
    max-width: 1900px;
}

#main-title {
    color: #440512;
    font-family: monospace;
    font-size: 4rem;
    text-align: center;
    padding: 35px 0 100px 0;
}


/* CLASSES FOR DISPLAYING CONTENT */

.section {
    background-color: #F7F7F7;
    border: 2px solid #ABAAAA;
    border-radius: 8px;
    text-align: left;
    margin: 0 0 30px 5%;
    padding: 10px;
    width: 75%;
}

.section h2 {
    border-bottom: 1px solid black;
    font-style: italic;
    margin: 0;
    padding-bottom: 5px;
}

#faculty>ul>li {
    list-style-type: none;
    display: inline-block;
    margin: 40px 10px 0 10px;
    padding: 10px;
    width: 40%;
}

#faculty-list {
    padding: 0 8px 30px 0;
    text-align: center;
    width: 100%; /* Makes sure that the inner div takes up all the possible space, allowing the list elements to
                    create a nice 2x2 grid that will scale finely to any resolution. */
}

.name {
    font-size: 2.5em;
}

.office {
    font-size: 1.5em;
}

.pic {
    width: 100%; /* Makes sure the picture scales to the inner div instead of expanding as large as the actual file is */
    border: 4px solid #000000;
    border-radius: 10px;
}

/* NAVIGATION BAR IDS AND CLASSES */

#style {
    background-color: #171717;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    position: absolute;
    top: 190px;
    width: 70%;
    min-width: 630px;
    max-width: 1344px; /* Interestingly, since this is positioned as an absolute div, the max width had to be different
                          from the inner container, as the inner container included the width from the margin: auto
                          keeping it centered, whereas this nav bar did not. */
}

#style li {
    color: white;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
}

#style ul {
    padding-left: 3.5px;
    margin-top: 3.5px;
    margin-bottom: 0;
}

#style a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

#style a:hover {
    color: black;
    background-color: white;
}