/* MAIN CLASS IDs */

body {
    background: url('../assets/images/bg001.jpg' ) no-repeat fixed center top; /* Adds a background that completely changes the style
                                                                                  of the web page and meshes better with the new
                                                                                  colors */
    font-family: Geneva, Arial, sans-serif;
    margin: auto;
    min-width: 720px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

#main {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFFCFC;
    border: 4px solid #6F1805;
    margin: auto;
    width: 70%;
    min-width: 600px;
    max-width: 1900px;
}

#main-title {
    color: #440512;
    font-family: 'Courier New', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 70px;
}


/* CLASSES FOR DISPLAYING CONTENT */

.section {
    background-color: #DED6D5;
    border: 2px solid #6F1805;
    border-radius: 4px;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 30px;
    padding: 10px;
    width: 75%;
}

.section h2 {
    border-bottom: 1px solid black;
    font-style: italic;
    margin: 0;
    padding-bottom: 5px;
}

#faculty>ul>li {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    width: 55%; /* Instead of making the pictures into a grid, makes them into a clean list that centers nicely
                   in the middle. */
}

#faculty-list {
    text-align: center;
}

.pic {
    width: 100%;
    border: 4px solid #000000;
    border-radius: 10px;
}

.name {
    font-size: 2.5em;
}

.office {
    font-size: 1.5em;
}

/* NAVIGATION BAR IDS AND CLASSES */

#style {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px; /* Changes that make the navigation bar differ from the other two style sheets,
	                                     adding corners that align with the inner main div*/
    background-color: #171717;
    border: 5px solid #6F1805; /* Adds a nice border that defines the sides of the content better */
    position: absolute;
    top: 50px;
    left: 50px;
    min-width: 100px;
    max-width: 110px; /* Makes the navigation bar float to the left instead of in the middle like the second style
                         sheet, making the page flow much differently*/
    
}

#style li {
    color: #FFFCFC;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
}

#style ul {
    padding-left: 3.5px;
    margin-top: 3.5px;
    margin-bottom: 0;
}

#style a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

#style a:hover {
    color: black;
    background-color: white;
}